* {
    font-family: 'Lora', sans-serif;
}

.logo {width : 200px;
    margin-left: 10px;}

header {display : flex;
    align-items: center;
    justify-content: center;
    font-size : 50px;
    flex : 1;}

.header {
    display: flex;
    align-items: center;
    background-color : rgb(209, 49, 49);
}

.ngay_thang {
    padding : 5px 20px;
    border :5px solid black;
    text-align: center;
}


.link-thang {
    text-decoration: none; 
    color: black;         
    background-color: #f0f0f0; 
    padding: 10px 15px;        
    
    border: 1px solid #ccc;
    border-radius: 5px;   
    font-weight: bold;     
    text-align : center;
    
   
    width: 100%; 
    
    
    margin: 5px auto; 
    
    
    box-sizing: border-box; 
    
  
    display: block; 
}


.link-thang:hover {
    background-color: #d13131; 
    color: white;              
    cursor: pointer;           
}

.giao_dien {
    display : flex;
    flex : 1;
    justify-content: center;
    align-items: center;
}

.man_hinh_cho {
    display : flex;
    height : 100vh; 
    align-items : center;
    justify-content : center;
    font-size: 25px;
}

main {display : flex;
    min-height: 70vh;
    background-color : rgb(180, 172, 178);}

.bang-du-lieu {
    width : 95%;
    margin: 50px auto 20px auto;
    border-collapse: collapse; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.bang-du-lieu th, .bang-du-lieu td {
    border: 1px solid #555; 
    padding: 15px; 
    text-align: center; 
}

.bang-du-lieu th {
    background-color: #d13131; 
    color: #ffffff; 
    font-size: 18px;
    text-transform: uppercase; 
}

.link-thang {
    display : flex;
    flex : 1;
    width : 100%;
    text-decoration : none;
}

.link-thang button {
    width: 100%;
    height: 100%; 
    cursor : pointer;
}


.tam-kinh-mo {
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
   
    background-color: rgba(0, 0, 0, 0.6);
    
    
    z-index: 1000;

   
    display: flex;
    justify-content: center;
    align-items: center;
}


.hop-nhap-lieu {
   
    position: relative; 
    
  
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 50%; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.nut-x {
    
    position: absolute;
    top: 15px;
    right: 15px;
    
   
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #ff4d4d;  
    cursor: pointer; 
}


.nut-x:hover {
    color: #cc0000;
}




[contenteditable="true"] {
    cursor: text; 
}


[contenteditable="true"]:focus {
    background-color: #fffacd; 
    outline: 1px dashed #ff9900; 
}
